* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    border: 3px solid var(--Primary-Orange, #FCB040);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--Primary-Red, #A61E2A);
}

.btn:hover {
    opacity: 0.8;
}

/* Header */

/* Header Top */

.header__inner {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 114px;
}

.logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header-action__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-top__list {
    display: flex;
}

.navbar-top__link {
    padding: 8px 12px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1;
    color: var(--Neutral-Black, #242424);
}

.navbar-top__link--active,
.navbar-top__link:hover {
    border-radius: 6px;
    background: #f1f0ed;
}

.header-action-top__split {
    margin: 0 26px;
    width: 1px;
    height: 20px;
    background: var(--Neutral-Dark-Grey, #484848);
}

.header-action-top__inner {
    padding: 2px 10px;
}

.header-action-top__hotline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: var(--Neutral-Black, #242424);
}

.header-action-top__hotline::before {
    content: url(../icon/hotline.svg);
    margin-right: 5px;
}

.header__row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 15px;
}

.navbar-row2__list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar-row2__item {
    position: relative;
}

.navbar-row2__link {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: var(--Neutral-Black, #242424);
}

.navbar-row2__list>li {
    position: relative;
    display: block;
    margin-right: 48px;
}


.navbar-row2__list>li:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -10px;
    height: 4px;
    border-radius: 2px;
    background: #FCB040;
}

.navbar-row2__link::after {
    content: url(../img/chevron-down.svg);
    position: absolute;
    margin-left: 5px;
}

.navbar-row2__link--active {}

.header-row2__act {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-row2__act_link {
    margin-right: 22px;
}

.header-row2__act_link:hover {
    opacity: 0.8;
}

.header-row2__act-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    width: 150px;
    height: 40px;
    padding: 8px 10px;
    border-radius: 12px;
    background: var(--Primary-Primary-Linear, linear-gradient(180deg, #FCB040 0%, #FFD800 100%, #F6D936 100%));
    border: 3px solid var(--Primary-Orange, #FCB040);
    color: var(--Primary-Red, #A61E2A);
}

.header-row2__act-btn:hover {
    opacity: 0.8;
}

.header__search {
    margin-right: 21px;
}

.btn_title {
    margin-left: 10px;
}

.header-split {
    margin-top: 8px;
    border: 1px solid #E0E0E0;
}

/* Slide */

.slide {
    margin-top: 42px;
}

.slide__inner {
    display: flex;
    align-items: center;
    /* column-gap: 71px; */
}

.slide__control {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #F1F1F1;
    /* width: 64px;
    height: 64px;
    border-radius: 50%; */
    /* flex-shrink: 0; */
    /* border-radius: 1px solid #242424; */
    border: none;
}

.slide__content {
    margin-left: 92px;
}


.slide-item__content {
    display: flex;
    align-items: center;
}


.section-heading {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.6;
    width: 371px;
    height: 69px;
    color: var(--Primary-Red, #A61E2A);
}

.slide-item-list {
    margin-top: 70px;
}

.slide-item-link {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3.5;
    margin-top: 33px;
    text-decoration-color: currentColor;
    color: #484848;
}

.slide-item-link:hover {
    opacity: 0.8;
}

.slide-item-link::before {
    display: inline-block;
    align-items: center;
    content: "";
    margin-right: 29px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ABABAB;
}

.slide-item__img {
    width: 578px;
    height: 457px;
}

.slide__control:nth-of-type(2) {
    margin-left: auto;
}

.slide__dots {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    column-gap: 18px;
}

.slide__dot {
    padding: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ABABAB;
}

.slide__dot:hover {
    opacity: 0.8;
    cursor: pointer;
}

.slide__dot--active {
    background: #FCB040;
}

/* About */

.about {
    margin-top: 42px;
}

.about__company {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1;
    color: var(--Primary-Red, #A61E2A);
    text-align: center;
}

.about__memberof {
    margin-top: 26px;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1;
    color: var(--Primary-Red, #A61E2A);
    text-align: center;
}

.about__info {
    display: inline-block;
    margin-top: 46px;
    margin-left: 125px;
    margin-right: 50px;
    text-align: justify;
    width: 1025px;
    height: 240px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--Neutral-Dark-Grey, #484848);
}

.about__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

.btn__more {
    margin-left: 290px;
}

.btn__open {
    margin-right: 266px;
}


/* Bond */

.bond {
    margin-top: 76px;
}

.bond__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bond-heading {
    margin-left: 125px;
    width: 352px;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1;
    color: var(--Primary-Red, #A61E2A);
}

.bond-item {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 33px;
    color: var(--Neutral-Black, #242424);
}

.bond-item::before {
    display: inline-block;
    align-items: center;
    content: "";
    margin-right: 29px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ABABAB;
}

.bond__img-link {
    width: 540px;
    height: 422px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 50px;
}

.bond__list {
    margin-top: 40px;
    margin-left: 125px;
}

/* App */

.app-heading {
    margin-top: 135px;
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--Primary-Red, #A61E2A);
    text-align: center;
}

.app__img {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 54px;
}

.app__link:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Footer */

.footer {
    margin-top: 152px;
    padding-bottom: 40px;
    background: #EDEDED;
}

.footer__heading {
    text-align: center;
}

.footer__logo {
    margin-top: 24px;
}

.footer__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--Neutral-Black, #242424);
    column-gap: 22px;
}

.footer__address {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer__address::before {
    content: url(../icon/location.svg);
    margin-right: 5px;
}

.footer__tel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__tel::before {
    content: url(../icon/call.svg);
    margin-right: 5px;
}

.footer__fax {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__fax::before {
    content: url(../icon/fax.svg);
    margin-right: 5px;
}

.footer__hotline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__hotline::before {
    content: url(../icon/hotline.svg);
    margin-right: 5px;
}

.footer__email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__email::before {
    content: url(../icon/email.svg);
    margin-right: 5px;
}

/* Footer Menu */
.footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 48px 0 0 110px;
}

.footer__menu--title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--Neutral-Black, #242424);
}

.footer__menu--item {
    margin-top: 16px;
}

.footer__menu--link {
    font-size: 1.4rem;
    font-weight: 400;
    color: #242424;
    text-decoration-color: var(--Neutral-Black, #242424);
}

.footer__menu--link:hover {
    color: #242424;
    text-shadow: 1px 0 0 currentColor;
}

.footer__menu--title-service1 {
    margin-top: 48px;
}

.footer__menu--title-service2 {
    margin-top: 80px;
}

.footer__bottom__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #242424;
}

.footer__bottom--inner {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.footer__bottom--inner {
    margin-right: 110px;
}

.footer__bottom--copyright {
    padding: 20px 0 20px 110px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--Neutral-Light-Grey, #E0E0E0);
}

.footer__bottom--link {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--Neutral-Light-Grey, #E0E0E0);
    text-decoration-color: #242424;
}

.footer__bottom--link:hover {
    color: #E0E0E0;
    text-shadow: 1px 0 0 currentColor;
}

.footer__bottom--item:not(:first-child) .footer__bottom--link::before {
    content: "";
    border: 1px solid #E0E0E0;
    margin-right: 22px;
}